<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tcshare.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- unavailable in API 23 -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme.NoActionBar">
        <activity android:name=".amodule.activity.TCMainActivity" />
        <activity
            android:name=".amodule.activity.TCSplashActivity"
            android:theme="@style/MyAppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".amodule.activity.TCDrag2RightExitActivity"
            android:theme="@style/MyAppTheme.NoActionBar.Translucent" />
        <activity
            android:name=".amodule.activity.TCContainerActivity"
            android:theme="@style/MyAppTheme.NoActionBar.Translucent" />
        <activity
            android:name=".amodule.activity.TCLiveLikeActivity"
            android:theme="@style/MyAppTheme.NoActionBar.Translucent" />
        <activity android:name=".zxing.CaptureActivity" />
        <!-- utils 模块 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="org.tcshare.activity.TCRequestPermissionActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="org.tcshare.activity.SelectOnePictureActivity"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>
